package cachegroup_test

var testConfig = `
{
		"Driver":"cachegroup",
		"Marshaler": "json",
		"Config":
			[{
				"Driver":"syncmapcache",
				"Config":{
					"Size": 10000000
				},
				"Marshaler": "json",
				"TTL":-1
			},{
				"Driver":"syncmapcache",
				"Config":{
					"Size": 10000000
				},
				"Marshaler": "json",
				"TTL":-1
			}]
}`
