package mssql



var MssqlConfigJSON = `
{
	"Driver": "mssql",
	"DataSource": "sqlserver://sa:yourStrong(!)Password@localhost:1433?database=dbtest",
	"Prefix": "",
	"MaxIdleConns":10,
	"ConnMaxLifetimeInSecond":3600,
	"MaxOpenConns":10
}
`
