package querybuilder_test

var MysqlConfigJSON = `
{
	"Driver": "mysql",
	"DataSource": "dbuser:dbpass@/db",
	"Prefix": "",
	"MaxIdleConns":10,
	"ConnMaxLifetimeInSecond":3600,
	"MaxOpenConns":10
}
`
var PostgreConfigJSON = `
{
	"Driver": "postgres",
	"DataSource": "postgres://postgres:123456@/dbtest?sslmode=disable",
	"Prefix": "",
	"MaxIdleConns":10,
	"ConnMaxLifetimeInSecond":3600,
	"MaxOpenConns":10
}
`

var MssqlConfigJSON = `
{
	"Driver": "mssql",
	"DataSource": "sqlserver://sa:yourStrong(!)Password@localhost:1433?database=dbtest",
	"Prefix": "",
	"MaxIdleConns":10,
	"ConnMaxLifetimeInSecond":3600,
	"MaxOpenConns":10
}
`

var SqliteConfigJSON = `
{
	"Driver": "sqlite3",
	"DataSource": "_test/sqlite.db",
	"Prefix": "",
	"MaxIdleConns":10,
	"ConnMaxLifetimeInSecond":3600,
	"MaxOpenConns":10
}
`

