//please rename this file to testconfig_test.go
package versioncache

var testConfig = `{
        "Local.Driver":"\"freecache\"",
        "Local.Config.Size":"10000000",
        "Local.TTL":"1200",
        "Remote.Driver":"\"freecache\"",
        "Remote.Config.Size": "10000000",
        "Remote.TTL":"1200"
}`
