//please rename this file to testconfig_test.go
package versioncache_test

var testConfig = `
{
        "Driver":"versioncache",
        "Marshaler": "json",
        "Config":{
                "Local":{
                        "Driver":"syncmapcache",
                        "Config":{
                                "Size":10000000
                        },
                        "Marshaler": "json",
                        "TTL":1200
                },
                "Remote":{
                        "Driver":"syncmapcache",
                        "Marshaler": "json",
                        "Config":{
                                "Size":10000000
                        },
                        "TTL":1200
                }
        }
}`
